{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/tasks/create/" method="POST" class="card card-body">
                <h1>Create task</h1>
                {% csrf_token %}
                {{form.as_p}}

                {{error}}
                <button class="btn btn-primary">
                    Save
                </button>
            </form>
        </div>
    </div>
</main>


{% endblock %}