{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo et blanditiis totam molestiae, in autem aut rerum temporibus necessitatibus, a atque consectetur molestias corporis minima cupiditate earum odit. Reiciendis, assumenda.
        Earum tenetur consequatur ad beatae commodi voluptatem eum eveniet exercitationem totam! Nulla culpa dignissimos quae ex quam architecto itaque tempora amet debitis, quaerat hic perspiciatis nesciunt sunt dicta veritatis molestias?
        Et ad optio consectetur. Officia quisquam harum ratione ipsum praesentium nam nulla illum eaque! Dolore excepturi porro amet reiciendis sunt, nobis culpa dolor! In labore cupiditate sit explicabo inventore similique.
        Sint iusto voluptatem, at aspernatur quod veniam ipsum, tenetur alias delectus, vero architecto esse perferendis eum corporis! Omnis ab pariatur eveniet quibusdam. Voluptatibus incidunt labore mollitia autem nostrum iste ex?
        Eum mollitia corrupti earum nam enim aspernatur, velit soluta, cupiditate numquam totam fugiat assumenda asperiores ipsa iure delectus commodi ex aliquid perferendis praesentium. Explicabo, quaerat doloribus delectus ipsam maxime veniam?
        Perferendis quidem id voluptates inventore, consequuntur mollitia, corrupti eligendi ipsa dicta delectus itaque, provident commodi deserunt velit. Tempora eum, officia, incidunt, quam nulla repellat dolores ullam fugit temporibus quibusdam perspiciatis!
        Praesentium earum maiores ea! Eos excepturi maxime magni nesciunt sequi rem. Blanditiis repudiandae ut et eum fuga dolores dicta repellendus. Voluptatem dicta illum sint, hic optio earum quos non enim.
        Quas, numquam optio aut deleniti veniam corporis? Asperiores consectetur dolore dignissimos repellendus quis esse voluptate dolorem odit doloremque, animi ipsa est nulla inventore magni tempora temporibus recusandae dolor maxime illo.
        Autem aliquam voluptatibus modi tenetur, quae incidunt magnam sequi eius quasi eaque aut possimus sint repellendus quam tempore unde id dicta molestias rem maiores fuga ad exercitationem eos. Dignissimos, maiores.
        Dolores, excepturi eos, deleniti atque aliquam provident porro illo vero laborum consequatur iure officia sapiente fugit labore, nam eligendi velit? Error dolore quasi officia. Impedit, ipsum eveniet! Porro, odio nobis.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}