{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="/signup/" method="POST" class="card card-body">
                <h1 class="text-center">Sign up</h1>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="" class="form-control" placeholder="Write your username">
                </div>
                <div class="mb-3">
                    <label for="password1">Password:</label>
                    <input type="password" name="password1" id="password1" class="form-control" placeholder="Write your password">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirm your password:</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm your password">
                </div>
                {{error}}
                <button class="btn btn-primary">
                    Sign up
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}