{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" method="POST" class="card card-body">
                <h1 class="text-center">Signin</h1>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="" class="form-control" placeholder="Write your username">
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control"
                        placeholder="Write your password">
                </div>
                {{error}}
                <button class="btn btn-primary">
                    Signin
                </button>
                {{error}}
            </form>
        </section>
    </div>
</main>

{% endblock %}